.btn {
    border-radius: 26.5px;
    padding: 16px;
    display: inline-block;
    width: 160px;
    height:60px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.08em;
    cursor: pointer;

    border: none;
    background: #08679C;
    color: #1C428C;
    box-shadow: 0px 3px 1px 1px white;
}

.btn:hover {
    background: #085883;
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.textbutton{
    color: white;
    height: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:auto;
}
