body{
    font-family: 'Times New Roman', Times, serif;
}

.image {
    width: 350px;
    height: 300px;
    background-color : #D2D2D2;
    border-radius: 50px;
}

.text {
    margin-top:20px;
    padding:10px;
    color: #08679C;
    width: 350px;
    background-color: #D2D2D2;
    border-radius: 20px;
}