body{
background-color: #08679C;
}

.main{
    justify-content:center;
    background-color: tomato;
   
}

.main .image2{
    width: 400px;
    height: 300px;
    border-radius: 30px;
}

.content {
    margin: auto;
    margin-top: 150px;
    width: 115px;
    height: 65px;
    background-color : #D2D2D2;
}

.content2 {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.content2 .retangle{
    width: 250px;
    height: 35px;
    background-color:  #D2D2D2;
}